{% extends "../layouts/user.html.twig" %}

{% block title %}- Reports{% endblock %}
{% block maincontent %}
    <div class="container is-fluid">
        <h1 class="title">Reports</h1>
        {% include "../components/reports.html.twig" %}
    </div>
{% endblock %}