{% extends "../layouts/user.html.twig" %}

{% block title %}- Schedules{% endblock %}
{% block maincontent %}
    <div class="container is-fluid">
        <h1 class="title">Schedules</h1>
        {% include "../components/schedules.html.twig" %}
    </div>
{% endblock %}