{% extends "../layouts/user.html.twig" %}

{% block title %}- Tasks{% endblock %}
{% block maincontent %}
    <div class="container is-fluid">
        <h1 class="title">Tasks</h1>
        {% include "../components/tasks.html.twig" %}
    </div>
{% endblock %}