{% extends "../layouts/user.html.twig" %}

{% block title %}- Timesheet{% endblock %}
{% block maincontent %}
    <div class="container is-fluid">
        <h1 class="title">Timesheet</h1>
        {% include "../components/timesheet.html.twig" %}
    </div>
{% endblock %}