<div class="box js-schedules">
    <p class="subtitle is-4">Schedules Today</p>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th></th>
                <th>Client</th>
                <th>Start</th>
                <th>End</th>
                <th>Shift</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" align="center">
                    <div class="loading-data">
                        <i class="fas fa-sync fa-spin"></i> <span>Fetching Data...</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>