<div class="box js-tasks {{ hide ? 'hide' : '' }}">
    <p class="subtitle is-4">Tasks</p>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth js-tasks-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <div class="loading-data">
                        <i class="fas fa-sync fa-spin"></i> <span>Fetching Data...</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>